In [ ]:
# Function to pint all conbinations of pairs of intgers in a list
#-->[1,2,3]  -->(1,2),(2,3),(3,1)  -->3c2  -->3!/(2!*1!)

def pairs(li):
    for i in range(0,len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print((li[i],li[j],li[k]))
pairs([1,2,3,4])

In [13]:
# Task 3(arrange a list and kth element in the list )
def task3(li,k):
    new=[]
    
    for i in range(len(li)):
        for j in range(0,len(li)):
            d=abs(li[i]-li[j])
            if d!=0:
                if d not in li:
                    li.append(d)
    li=sorted(li)
    print(li)
    if len(li)>=k:
        return li[-k]
    else:
        return -1
    
#li=[1,3,5,6,7,9,12]
#k=int(input())
task3([1,3,5,6,7,9,12],2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

11

In [14]:
# [1,2,3] -> [1,2,3]
#Task 3
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li = [1,9,8,7,6,2]
differencePairs(li)

[[1, 9, 8, 7, 6, 2], [1, 9, 8, 7, 6, 2, 5, 3, 4]]

In [15]:
# List Data referencing vs Data copy
a = [1,2,3]
b= [1,3,2]
a = b.copy() # Data Copy through indirect referencing

a = b # Data Referencing
a=b[:] # Data copy through direct referencing
b.append(4)
a.append(5)
b

[1, 3, 2, 4, 5]

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an
# Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

### Set - Data Structure in Python

Represented by {}

- mutable

In [36]:
a={1,2,3,2,1,4,5,6,7}

a.add(9)      # Adding a single element to the set
for i in a:
    print(i,end=" ")  # to access every element in a set
    
b={8,5,6,7}
li=[10,11,12,15,-1]
a.update(b,li)  # to add multiple elements to the set

a.discard(-1)  # to remove particular element


a={1,2,3,4,5,6,7}
b={10,11,12,13,15,1}
a.union(b)# A U B =B U A

a.intersection(b)  # intersecion

a.isdisjoint(b)  # disjoint set

a-b    # all elements of a which are not in b

sorted(a)     # sorded order writtens in a list

a ^ b    # Elements either in a or in b

1 2 3 4 5 6 7 9

{2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 15}

In [38]:
d=set() # To create an empty set

d

set()

In [39]:
li=[1,2,3,4,5,4,3,2,6,7,8,9,10]  # To extract unique data from a list
u=set(li)
u

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

- Procedural : c
   
- Object Oriented : Java, Python
    
- Scripting : PHP, Python ,Java Script , Shell, Curl
    
- Functional : Python, Haskell, Scala 

- Logic(rule based) : Prolog, Lisp

### List Comprehensions

In [41]:
# List of N natural numbers in a list

n=10
li=[]
for i in range(1,n+1):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
li=[i for i in range(1,11)]

li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# Apply list comprehension to store the cubes of n natural numbers

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [46]:
# Function to calculate the m factorial

def factorial(n):
    if n == 0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
# Apply list comprehension to calcualte factorial of n natural numbers
n=10
factorialList=[factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [87]:
# store cumilative sum of numbers till n in a list
#n=3 [1, 3, 6]

n=3
cumilativesum=[sum(range(1,i+1)) for i in range(1,n+1)]
cumilativesum

[1, 3, 6]

In [1]:
# List Comprehension to store only leap years in a given time period

st=1970
et=2019
leapyears=[i for i in range(st,et+1) if i%400==0 or (i%100!=0 and i%4==0)]
leapyears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [1]:
li = [1,2,3,2,1, 4, 4, 5,5,5]
li.sort()
u2 = []
unique = []
#unique = [li[i] for i in range(0,len(li)-1) if (li[i] != li[i+1] and i < len(li)-1) or (i == len(li)-1)]
[u2.append(i) for i in li if i not in u2 ]
u2

[1, 2, 3, 4, 5]

### Iterators

Iterable - strings,lists,tuples,sets,dictionaries

convert Iterable to Iterator -> iter()

For Loope: untill break the programm



Iterator: pause the execution

In [21]:
it=iter('python')
print('1: ')
print(next(it))
print('\n')
print('2: ')
print(next(it))

1:
p


2:
y

### Generators 


Generator is a function

In [26]:

def generator():
    n=3
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
a=generator()
next(a)
next(a)
next(a)

19683

In [31]:
def generator():
    n=2
    while True:  #for i in range(1,5):
        n**=3
        yield n
a=generator()
next(a)
next(a)

512